@import "tailwindcss";

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-browm-600: #967259;
  --color-brown-900: #634832;

  --shadow-normal: 0px 1px 10px rgba(0;0, 0, 0.05);

  --radius-4xl: 2rem;

  --font-Dana: "Dana";
  --font-DanaMeduim: "Dana Meduim";
  --font-DanaDemiBold: "Dana DemiBold";
  --font-MorabbaLight: "Morabba Light";
  --font-MorabbaMeduim: "Morabba Meduim";
  --font-MorabbaBold: "Morabba Bold";

  --tracking-tightest: -0.065em;

  --breakpoints-xs: 480px;
}

@utility container {
  @apply mx-auto px-4 lg:px-2.5;
}

@layer utilities {
  .bg-home-mobile {
    background-image: url("../images/headerBgMobile.webp");
  }
  .bg-home-desktop {
    background-image: url("../images/headerBgDesktop.png");
    background-repeat: no-repeat;
  }
  .items-hover:hover {
    transition: colors;
    color: #fdba74;
    display: inline-block;
  }
  .items-leading {
    line-height: 56px;
  }
}

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"),
      url("../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana DemiBold"),
      url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: local("Morabba Light"),
      url("../public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: local("Morabba Medium"),
      url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: local("Morabba Bold"),
      url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}
